p {background-color:#745D75;
text-align:justify;
font-family:Helvetica;
}

h1{
            display:inline;
            background-color:green;
            color:#fff;
        }


strong {color: red;}

div.title { background-color:#745D75; }
